body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
	font-family: sans-serif;
	background: #0076A3;
}
h1 {
	color: #fff;
	text-align: center
}